*{
    padding: 0;
    margin: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body{
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wavy{
    top: 200px;
    left: 200px;
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(
        transparent, rgba(0,0,0,0.2)
    );
}

.wavy span{
    position: relative;
    display: inline-block;
    color:rgb(8, 8, 8);
    font-size: 5em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.09s * var(--i));
}

@keyframes animate
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
}